#pyspark-read-hive-table

In [0]:
#Read hive table using table
df = spark.read.table("ct.sampleTable")
df.show()

+---+--------+---+------+
| id|    name|age|gender|
+---+--------+---+------+
|  4|Jennifer| 20|     F|
|  1|   James| 30|     M|
|  3|    Jeff| 41|     M|
|  2|     Ann| 40|     F|
+---+--------+---+------+

In [0]:
df2 = spark.sql(" SELECT * FROM ct.sampleTable")
df2.show()

+---+--------+---+------+
| id|    name|age|gender|
+---+--------+---+------+
|  4|Jennifer| 20|     F|
|  1|   James| 30|     M|
|  3|    Jeff| 41|     M|
|  2|     Ann| 40|     F|
+---+--------+---+------+