#PySpark Groupby Explained with Example


---



**Similar to SQL GROUP BY clause, PySpark groupBy() function is used to collect the identical data into groups on DataFrame and perform count, sum, avg, min, max functions on the grouped data. In this article, I will explain several groupBy() examples using PySpark (Spark with Python).**

##1. GroupBy() Syntax & Usage


---
###Syntax:


groupBy(col1 : scala.Predef.String, cols : scala.Predef.String*) :
      org.apache.spark.sql.RelationalGroupedDataset


---


**When we perform groupBy() on PySpark Dataframe, it returns GroupedData object which contains below aggregate functions.**

- count() – Use groupBy() count() to return the number of rows for each group.

- mean() – Returns the mean of values for each group.

- max() – Returns the maximum of values for each group.

- min() – Returns the minimum of values for each group.

- sum() – Returns the total for values for each group.

- avg() – Returns the average for values for each group.

- agg() – Using groupBy() agg() function, we can calculate more than one aggregate at a time.

- pivot() – This function is used to Pivot the DataFrame which I will not be covered in this article as I already have a dedicated article for Pivot & Unpivot DataFrame.

**let’s create the DataFrame from a sequence of the data to work with. This DataFrame contains columns “employee_name”, “department”, “state“, “salary”, “age” and “bonus” columns.**

**We will use this PySpark DataFrame to run groupBy() on “department” columns and calculate aggregates like minimum, maximum, average, and total salary for each group using min(), max(), and sum() aggregate functions respectively.**

In [0]:
simpleData = [
    ("James","Sales","NY",90000,34,10000),
    ("Michael","Sales","NY",86000,56,20000),
    ("Robert","Sales","CA",81000,30,23000),
    ("Maria","Finance","CA",90000,24,23000),
    ("Raman","Finance","CA",99000,40,24000),
    ("Scott","Finance","NY",83000,36,19000),
    ("Jen","Finance","NY",79000,53,15000),
    ("Jeff","Marketing","CA",80000,25,18000),
    ("Kumar","Marketing","NY",91000,50,21000)
]


schema = ["employe_name", "department", "state", "salary", "age", "bonus"]

df = spark.createDataFrame(data=simpleData, schema=schema)
df.printSchema()
df.show(truncate=False)

root
 |-- employe_name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- state: string (nullable = true)
 |-- salary: long (nullable = true)
 |-- age: long (nullable = true)
 |-- bonus: long (nullable = true)

+------------+----------+-----+------+---+-----+
|employe_name|department|state|salary|age|bonus|
+------------+----------+-----+------+---+-----+
|James       |Sales     |NY   |90000 |34 |10000|
|Michael     |Sales     |NY   |86000 |56 |20000|
|Robert      |Sales     |CA   |81000 |30 |23000|
|Maria       |Finance   |CA   |90000 |24 |23000|
|Raman       |Finance   |CA   |99000 |40 |24000|
|Scott       |Finance   |NY   |83000 |36 |19000|
|Jen         |Finance   |NY   |79000 |53 |15000|
|Jeff        |Marketing |CA   |80000 |25 |18000|
|Kumar       |Marketing |NY   |91000 |50 |21000|
+------------+----------+-----+------+---+-----+

#2. PySpark groupBy on DataFrame Columns


**Let’s do the groupBy() on department column of DataFrame and then find the sum of salary for each department using sum() function.**

In [0]:
df.groupBy("department").sum("salary").show(truncate=False)

+----------+-----------+
|department|sum(salary)|
+----------+-----------+
|Sales     |257000     |
|Finance   |351000     |
|Marketing |171000     |
+----------+-----------+

**Similarly, we can calculate the number of employees in each department using.**

In [0]:
df.groupBy("department").count().show(truncate=False)

+----------+-----+
|department|count|
+----------+-----+
|Sales     |3    |
|Finance   |4    |
|Marketing |2    |
+----------+-----+

**Calculate the minimum salary of each department using min()**

In [0]:
df.groupBy("department").min("salary").show(truncate=False)

+----------+-----------+
|department|min(salary)|
+----------+-----------+
|Sales     |81000      |
|Finance   |79000      |
|Marketing |80000      |
+----------+-----------+

**Calculate the maximin salary of each department using max()**

In [0]:
df.groupBy("department").max("salary").show(truncate=False)

+----------+-----------+
|department|max(salary)|
+----------+-----------+
|Sales     |90000      |
|Finance   |99000      |
|Marketing |91000      |
+----------+-----------+

**Calculate the average salary of each department using avg()**

In [0]:
df.groupBy("department").avg("salary").show(truncate=False)

+----------+-----------------+
|department|avg(salary)      |
+----------+-----------------+
|Sales     |85666.66666666667|
|Finance   |87750.0          |
|Marketing |85500.0          |
+----------+-----------------+

**Calculate the mean salary of each department using mean()**

In [0]:
df.groupBy("department").mean("salary").show(truncate=False)

+----------+-----------------+
|department|avg(salary)      |
+----------+-----------------+
|Sales     |85666.66666666667|
|Finance   |87750.0          |
|Marketing |85500.0          |
+----------+-----------------+

##3. Using Multiple columns


---


**Similarly, we can also run groupBy and aggregate on two or more DataFrame columns, below example does group by on department,state and does sum() on salary and bonus columns.**

In [0]:
#GroupBy on multiple columns

df.groupBy("department", "state").sum("salary", "bonus").show(truncate=False)

+----------+-----+-----------+----------+
|department|state|sum(salary)|sum(bonus)|
+----------+-----+-----------+----------+
|Sales     |NY   |176000     |30000     |
|Sales     |CA   |81000      |23000     |
|Finance   |CA   |189000     |47000     |
|Finance   |NY   |162000     |34000     |
|Marketing |NY   |91000      |21000     |
|Marketing |CA   |80000      |18000     |
+----------+-----+-----------+----------+

##4. Running more aggregates at a time


---


**Using agg() aggregate function we can calculate many aggregations at a time on a single statement using SQL functions sum(), avg(), min(), max() mean() e.t.c. In order to use these, we should import "from pyspark.sql.functions import sum,avg,max,min,mean,count"**

In [0]:
from pyspark.sql.functions import sum, avg, max

df.groupBy("department")\
.agg(sum("salary").alias("sum_salary"),\
     avg("salary").alias("avg_salary"),\
     sum("bonus").alias("sum_bonus"),\
     max("bonus").alias("max_bonus")\
    )\
.show(truncate=False)

+----------+----------+-----------------+---------+---------+
|department|sum_salary|avg_salary       |sum_bonus|max_bonus|
+----------+----------+-----------------+---------+---------+
|Sales     |257000    |85666.66666666667|53000    |23000    |
|Finance   |351000    |87750.0          |81000    |24000    |
|Marketing |171000    |85500.0          |39000    |21000    |
+----------+----------+-----------------+---------+---------+

**This example does group on department column and calculates sum() and avg() of salary for each department and calculates sum() and max() of bonus for each department.**

##5. Using filter on aggregate data


---


**Similar to SQL “HAVING” clause, On PySpark DataFrame we can use either where() or filter() function to filter the rows of aggregated data.**

In [0]:
from pyspark.sql.functions import sum, avg, max, col

df.groupBy("department")\
.agg(sum("salary").alias("sum_salary"),\
         avg("salary").alias("avg_salary"),\
         sum("bonus").alias("sum_bonus"),\
         max("bonus").alias("max_bonus")\
        )\
.where(col("sum_bonus") >= 50000)\
.show(truncate=False)

+----------+----------+-----------------+---------+---------+
|department|sum_salary|avg_salary       |sum_bonus|max_bonus|
+----------+----------+-----------------+---------+---------+
|Sales     |257000    |85666.66666666667|53000    |23000    |
|Finance   |351000    |87750.0          |81000    |24000    |
+----------+----------+-----------------+---------+---------+